<div class="card">
  <%= link_to image_tag(prototype.image, class: :card__img ), prototype_path(prototype.id), method: :get %>
  <div class="card__body">
    <%= link_to prototype.name, root_path, class: :card__title%>
        <%= prototype.user.year.name  %>     |
        <%= prototype.user.skin.name  %>

    <p class="card__summary">
       <%= prototype.created_at %><br>
      <%= prototype.recommendation %>
    </p>
    <%= link_to "#{prototype.user.nickname}さん", prototype_path(prototype.id), class: :card__user %>
  </div>
</div>


